editor:
  showIndentGuide: true
  softWrap: true
  softWrapAtPreferredLineLength: true
  excludeVcsIgnoredPaths: false
  destroyEmptyPanes: false
  invisibles: {}
  showInvisibles: true
  autoIndentOnPaste: false
  fontSize: 13
core:
  themes: [
    "atom-dark-ui"
    "base16-tomorrow-dark-theme"
  ]
welcome:
  showOnStartup: false
tabLength: 2
preferredLineLength: 80
linter: {}
