'editor':
  'fontSize': 14
  'showIndentGuide': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
  'showInvisibles': {}
'core':
  'themes': [
    'atom-dark-ui'
    'atom-monokai-dark'
  ]
'welcome':
  'showOnStartup': false
'tabLength': 2
'preferredLineLength': 80
